@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');


.home-container {
  height: 100vh;
  background: linear-gradient(to bottom, #ff00c8, #a84dff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Irish Grover', cursive;
  color: white;
  text-align: center;
  padding: 0 1rem;
}
body,html{
  margin: 0;
  padding: 0;
  height: 100%;
}
/* Logo styling */
.logo-container {
  position: absolute;
  margin-top: 15px;
  margin-left: 5px;
  
}

.logo {
  height: 100px;
  width: 101px;
}

/* Title Styling */
.main-title {
  font-family: 'Irish Grover', cursive;
  font-size: 6rem;
  color: white;
  margin-bottom: 20px;
}

/* Tagline Styling */
.tagline {
  font-size: 3rem;
  font-family: 'Irish Grover', cursive;
  margin-bottom: 40px;
  max-width: 90%;
}

/* Button Section Styling */
.button-section {
  display: flex;
  justify-content: center;
  gap: 500px;
  flex-wrap: wrap;
}

.btn-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-caption {
  font-size: 2rem;
  font-family: 'Irish Grover', cursive;
  margin-bottom: 10px;
}

.home-button {
  font-size: 1.3rem;
  font-family: 'Irish Grover', cursive;
  padding: 20px 30px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.home-button:hover {
  background-color: #cc0000;
  transform: scale(1.05);
}
